.App {
 margin-left: 30px;
 margin-right: 30px;
 text-align: center;
 font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}
h4,p{
  text-align: left;
}
h6{
  float:right
}
table{
  margin-bottom: 20px;
}
td Link{
  text-decoration: none;
}